.verde{
  width: 100%;
  height: 70px;
  background: #009432;
}

.amarillo{
  width: 50%;
  height: 70px;
  background: #FFC312;
}

.rojo{
  width: 50%;
  height: 70px;
  background: #EA2027;
}

.azul{
  width: 80%;
  height: 70px;
  background: #0652DD;
}

.sct-contenedor{
  display: flex;
}

@media all and (min-width: 540px) {
    .sct-contenedor{
      justify-content: space-around;
    }
    .amarillo{
      width: 40%;
    }
    .rojo{
      width: 40%;
    }
}
